In [60]:
import pandas as pd
import requests
import time

In [24]:
data = pd.DataFrame({
    'longitude': [-4.962154, -4.698909, -4.737377, -4.747085],
    'latitude': [48.382057, 48.036991, 48.323567, 48.395201]
})

In [83]:
def reverse_geocode(latitude, longitude):
    url = f"https://nominatim.openstreetmap.org/reverse.php?lat={latitude}&lon={longitude}&zoom=18&format=jsonv2"
    session = requests.Session()
    headers = {
        'User-Agent': 'Mozilla/5.0',
        'Referer': 'https://www.openstreetmap.org/'
    }
    response = session.get(url,headers=headers)
    if response.status_code == 200:
        res_json = response.json()
        res = None
        if list(res_json.keys())[0]!='error':
            if 'city' in list(res_json["address"].keys()):
                res = res_json["address"]["city"]
            elif 'state' in list(res_json["address"].keys()):
                res = res_json["address"]["state"]
            else:
                res = res_json["address"]["region"]
            return res
    else:
        return 'Erreur de requête'

In [84]:
data['location'] = data.apply(lambda row: reverse_geocode(row['latitude'], row['longitude']), axis=1)
data

   longitude   latitude               location
0  -4.962154  48.382057  France métropolitaine
1  -4.698909  48.036991               Bretagne
2  -4.737377  48.323567               Bretagne
3  -4.747085  48.395201               Bretagne

In [78]:
'region' in list(data['location'][0].keys())

True

In [82]:
session = requests.Session()
headers = {
    'User-Agent': 'Mozilla/5.0',
    'Referer': 'https://www.openstreetmap.org/'
}
response = session.get("https://nominatim.openstreetmap.org/reverse.php?lat=48.036991&lon=-4.698909&zoom=18&format=jsonv2", headers=headers, timeout=10)
response.status_code

200

In [ ]:
response.json()